.accordion-item{
    background-color: transparent !important;
    color: #fff !important;
    margin-bottom: 20px;
    border: none !important;
}
.accordion-button, .accordion-header{
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    border-radius: 10px;
}
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-header{
    background-color: rgb(53, 53, 53) !important;
  
}
.faq-container{
    background:linear-gradient(315deg, #171717, #242424);
    border-radius: 30px;
}