.hero{
    background: linear-gradient(45deg, #2b2b2b, #000000);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url('../../images/hero-bg.png') no-repeat center;
    background-size: cover;
}
.hero img{
    transform: rotate(-90deg);
    width: 100px;
}