:root{
  --primary-color:#f07fff;
  --secondary-color:#ff7a41;
}

.main-text{
  color: var(--primary-color) !important;
}
.main-text2{
  color: var(--secondary-color) !important;
}
.gradient-text {
  font-size: 48px;
  background-image: linear-gradient(to right, #8b06ff, #ff81f5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}